@charset "utf-8";
/* CSS Document */

html{
    scroll-behavior: smooth;
}

body{
	margin:0px;
	padding:0px;
	background-color:#161616;	
}

ul{
	list-style:none;
}

a{
	text-decoration:none;
}

#main{
	padding:30px 50px;
	position:relative;
	width:100%;
	height: 100vh;
	box-sizing: border-box;
	background-size: cover;
	background-repeat: no-repeat;
    background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('../images/landing-background.jpg');
}

nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	font-family: calibri;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	box-sizing: border-box;
	padding: 10px 30px;
    background:transparent;
    z-index: 1;
}

.menu{
    display: flex;
}

.menu li a{

	padding: 10px 15px;
	color: rgba(245, 81, 81, 1);;
    font-size: 14px;
    font-weight: 900;

}

.lang{
	color:#292929;
}

.logo{
	font-size: 25px;
	font-weight: bold;
	color:#F55151;
    font-family:Arial;
}

.toggle{
	display: none;
}

.active a, .menu li a:hover{
	background-color:#292929;
	color:#FFF!important;
	font-weight: bold;
	transition: all ease 0.4s;
}

.circle-cropper{
	width: 20%;
	min-width: 350px;
	height: auto;
    position: absolute;
    overflow: hidden;
	border-radius: 50%;
	left: 60%;
	top: 30%;
}

.profile-picture{
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

.name{
	font-family: calibri;
	width: 30%;
	position: absolute;
	left: 20%;
	top: 50%;
    transform: translate(-20%,-50%);
}

.name p:nth-child(1),.name{
	color:#F55151;
    font-size: 18px;
}

.name h1{
	font-family:Arial;
	font-size: 40px;
	margin:0px;
	letter-spacing: 3px;
	color:white;
}

.details{
	color:#FFFFFF;
	font-size: 20px;
}

.explore-btn{
	border-radius: 5px;
	width:200px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: 2px solid black;
	border-color: #F55151;
	color:#FFFFFF;
}

.explore-btn:hover{
	background-color: #131313;
	transition: all ease 0.5s;
}

.social{
	position: absolute;
	left: 50px;
	bottom: 50px;
	display: flex;
}

.social a{
	margin: 6px 12px;

}

.social i{
	color:rgba(245,81,81, 0.5);
	font-size: 20px;
}

.social a:hover i{
	color:#FFFFFF;
	transition: all ease 0.5s;
}

#about{
	width:100%;
	height: 100vh;
	background-color:#161616;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 5% 0px 5%;
	position: relative;

}

.about-text{
	font-family: calibri;
	width: 50%;
}

.about-text h1{
	font-size: 5rem;
	color:#F55151;
}

.about-text h1,h2{
	margin: 0px;
	padding: 0px;
}

.about-text p{
	font-size: 1.2rem;
	color:rgba(255,255,255,0.90);
	
}

.about-picture img{
	width:80%;
	padding-left: 15%;;
}

.about-btn{
	margin-top: 30px;
	border-radius: 30px;
	width:200px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	color:black;
}

.about-btn:hover{
	background-color: #F55151;
	color:white;
	transition: all ease 0.5s;
}

#skills{
	width:100%;
	height:100vh;
	box-sizing: border-box;
	font-family: calibri;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 40px ;
}

.s-heading h1{
	color:#FFFFFF;
	font-size: 3rem;
	margin: 0px;
	padding: 0px;
}

.s-heading p{
	color:rgba(255,255,255,0.30);
	font-size: 1rem;
	margin: 0px;
	padding: 0px;
}

.s-heading{
	text-align: center;
	margin: 20px 0px;
}

.s-box{
	background-color: #2B2B2B;
	width:350px;
	height: 500px;
	margin: 20px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
	position: relative;
}

.b-container{
	display: flex;
	justify-content: center;
	align-content: center;
	
}

.s-b-img{
	width: 100%;
	height: 70%;
	
}

.s-b-img img{
	width:100%;
	height: 100%;
	
}

.s-b-text{
	width: 100%;
	height: 30%;
	background-color:#1E1E1E;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.s-b-text p{
	margin: 0px;
	color:#FFFFFF;
	font-size: 23px;
	font-family: calibri;
	display: block;
    display: -webkit-box;
	max-width: 80%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
	text-overflow: ellipsis;
}

.s-b-text a:hover{
	color:rgba(255,255,255,0.50)
}

.s-type{
	font-family: calibri;
	color:#FFFFFF;
	background-color: #151515;
	padding: 10px 15px;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 20px;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}

.s-box:hover{
	transform:translateY(-10px);
	transition: all ease 0.3s;
	
}

#portfolio{
	width:100%;
	box-sizing: border-box;
	font-family: calibri;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 60px 2% 20px 2%;
}

.p-heading{
	font-family: calibri;
	font-size: 1.7rem;
	text-align: center;
	color:#FFFFFF;
	font-weight: 500;
	padding: 10px 20px;
	letter-spacing: 2px;
}

.p-box{
	background-color: #1F1F1F;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
	position: relative;
}

.p-box img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.p-container{
	width: 90%;
	height:70vh;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-gap: 10px;
}

.overlay-text{
	font-family: calibri;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(23,209,172,0.80);
	display:none;
}

.overlay-text h1,p{
	color: #FFFFFF;
}

.overlay-text h1{
	font-size: 2.2rem;
	margin: 0px;
	padding: 0px;
	letter-spacing: 2px;
}

.overlay-text p{
	font-size: 1.2rem;
	margin: 0px;
}

.p-box:hover .overlay-text{
	display: flex;
}

#contact-btn{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	height: 200px;
	background-color: #F4F7FF;
	margin: 20px 0px;
	box-sizing: border-box;
	box-shadow:2px 0px 20px rgba(0,0,0,0.4); 
}

.c-b-heading{
	font-size: 2rem;
	color:#1E1E1E;
	font-family: Arial;
	margin: 10px;
	padding: 5px;
	letter-spacing: 4px;
}

.contact-btn{
	border-radius: 5px;
	width:200px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #131313;
	color:#FFFFFF;
	font-family: Arial;
}

.contact-btn:hover{
	background-color: #F55151;
	transition: all ease 0.5s;
}

#contact-form{
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../images/contact-me-background.jpg");
	background-size: cover;
}

#contact-form form{
	display: flex;
	width: 60%;
	max-width: 1000px;
	height: 50vh;
	max-height: 500px;
	border-radius: 10px;
	background:rgba(0,0,0,0.7);
	box-shadow: 0 0 10px rgba(0,0,0,1);
	color: #FFFFFF;
	padding-top: 50px;
	padding-bottom: 50px;
}

.contact-left{
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-right{
	width: 60%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-left: 1px solid rgba(255,255,255,0.08);
}

.contact-right button{
	width: 50%;
	left: 25%;
	position: relative;
	height: 50px;
	min-height: 40px;
	background: #1ED98B;
	border-radius: 30px;
	cursor: pointer;
	text-transform: uppercase;
	border-style: solid;
	border-color: #1ED98B;
	font-weight: 600;
}

.c-l-heading{
	font-family: calibri;
	color:#FFFFFF;
	font-size: 3rem;
	letter-spacing: 2px;
	font-weight: 400;
}

.f-name,.f-email{
	display: flex;
	flex-direction: column;
	font-family: calibri;
}

.f-name font,.f-email font{
	color:#BFBFBF;
	font-size: 22px;
}

.f-name input,.f-email input, .message input{
	height: 30px;
	width:250px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: transparent;
	outline: none;
	padding: 10px;
	font-size: 13px;
	border-radius: 30px;
	box-shadow: 0 0 4px #FFFFFF;
	transition: box-shadow 0.5s ease;
	color: #FFFFFF;
	border-style: solid;
}


.f-email input::placeholder, .f-name input::placeholder{
	color:#EBEBEB;
	font-size: 14px;
	letter-spacing: 2px;
	font-family: calibri;
	opacity: 0.7;
}

.f-email input:focus, .f-name input:focus{
	border: 1px solid #1ED98B;
	transition: all ease 0.5s;
}

.message font{
	font-size: 18px;
	color:#BFBFBF;
	font-family: calibri;
}

.message{
	margin-left: 20px;
	margin-right: 20px;
}

.message font{
	color:#BFBFBF;
	font-size: 25px;
}

.contact-right textarea{
	width: 100% !important;
	height: 320px !important;
	border: none;
	outline: none;
	background-color:transparent;
	box-sizing: border-box;
	color:#EBEBEB;
	font-size: 16px;
	margin-top: 10px;
}
.contact-right textarea::placeholder{
	color:#EBEBEB;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: calibri;
	opacity: 0.5;
}
.contact-right button:active{
	transform: scale(1.04);
	transition: all ease 0.1s;
}

@media(max-width:1190px){
	.name{
		left: 15%;
		top: 50%;
		width:40%
	}

	#skills{
		height:auto;
	}

	.b-container{
		flex-wrap: wrap;
	}

	.s-box{
		flex-grow: 1;
	}

	.s-b-img img{
		object-fit:cover;
	}

	#contact-form form{
		width:95% !important;
	}

}
@media(max-width:970px){
	.circle-cropper{
		width: 30%;
		height: auto;
		position: absolute;
		overflow: hidden;
		border-radius: 50%;
		left: 60%;
		top: 30%;
	}

	.name{
		left: 15%;
		top: 50%;
		width: 40%;
		position: absolute;
		text-align: center;
	}

	.explore-btn{
		width:30%;
		left:33%;
		position: absolute;
	}

	.about-picture{
		display: none;
	}

	#about{
		justify-content: center;
		padding-top: 0px;
	}

	.about-text{
		width: 80%;
	}

	.about-text h1{
		font-size:4rem;
		text-align: center;
	}

	.about-text p{
		text-align:center;
	}

	.about-btn{
		position: relative;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		margin-top: 50px;
	}
	
	.p-container{
		width:100%;
	}

	#contact-form form{
		width:95% !important;
	}

	
}
@media(max-width:900px){
	.toggle{
		display:block;
	}

	.toggle:before{
		content:'\f0c9';
		font-family: fontAwesome;
		color: #F55151;
		line-height: 0px;
		margin-left:-30px;
	}

	.toggle.active:before{
		content:'\f00d' !important;
	}

	nav{
		padding:10px 30px;
	}
	
	nav ul{
		position:absolute;	
		width: 100%;
		height:auto;
		box-sizing:border-box;
		background-color:#0F0F0F;
		top: 50px;
		left: 0;
		transition: 0.5s;
		overflow: hidden;
		display: none !important;
		border:3px solid #1F1F1F;
	}
	
	nav ul li a{
		border-bottom: 1px solid rgba(255,255,255,0.10) ;
		color:#ffffff !important;
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px !important;
		padding: 0px !important;
	}

	nav ul{
		padding:0px;
		margin:0px;
	}

	.active-menu {
		display: block !important;
	}
	
	nav ul li a:hover{
		background-color:rgba(27,29,32,0.15);
	}
	
	.circle-cropper{
		width: 20%;
		left: 50%;
	}
	
	.p-container{
		grid-template-columns:1fr 1fr;
		grid-template-rows:auto;
		grid-gap: 10px;
		height: auto;
	}

	.c-b-heading{
		font-size: 1.4rem;
		text-align: center;
	}

	#contact-form{
		padding: 20px;
		height: auto;
		box-sizing: border-box;
	}
	
	#contact-form form {
		flex-direction: column;
		height:auto;
		padding: 20px;
		width:90% !important;
		max-height: 1000px;
	}

	.contact-left,.contact-right{
		width:100%;
		border: none;
	}

	.f-name,.f-email{
		width: 100%;
	}

	.f-name input,.f-email input{
		width:100%;
		border: none;
		padding: 10px;
		box-sizing: border-box;
		height: 40px;
	}

	textarea{
		margin: 10px 0px;
		padding: 10px;
		height: 200px !important;
		width:100% !important;
	}

	.message{
		margin:0px;
	}

	#contact-form form h1{
		margin:5px 0px;
	}
}

@media(max-width:600px){

	.circle-cropper{
		width: 60%;
		min-width: 0px;
		height: auto;
		position: absolute;
		overflow: hidden;
		border-radius: 50%;
		left: 20%;
		top: 10%;
	}

	.name{
		font-family: calibri;
		width: 80%;
		position: absolute;
		left: 27.5%;
		top: 60%;
	}

	.name p:nth-child(1),.name{
		color:#F55151;
		font-size: 18px;
	}

	.name h1{
		font-family:Arial;
		font-size: 30px;
		margin:0px;
		letter-spacing: 3px;
		color:white;
	}

	.details{
		color:#FFFFFF;
		font-size: 18px;
	}

	.explore-btn{
		border-radius: 5px;
		width:30%;
		height: 40px;
		left: 35%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		border: 2px solid black;
		border-color: #F55151;
		color:#FFFFFF;
	}

	.p-container{
		grid-template-columns:1fr ;
		grid-template-rows: auto;
	}

	.c-b-heading{
		font-size: 1.2rem;
		text-align: center;
		margin: 0px 10%;
	}
	
	.black-line{
		margin-bottom: 20px;
	}

	.social{
		left: 30px;
		transform: translateX(-10px);
	}
}

@media(max-width:400px){
	.s-box{
		width: 100%;
		height:400px;
	}
}